.polarArea {
    width: 340px;
    height: 340px;
    background-color: '#ffffff';
    padding: 0;
    margin: 0;
    #canvasPolar {
        width: 270px;
        height: 270px;
        display: inline-block;
        position: relative;
        top: 0%;
        left: 10%;
    }
    $buttonSize: 30px;
    @mixin button {
        width: $buttonSize;
        height: $buttonSize;
        display: block;
        cursor: pointer;
    }
    .recommedContent {
        display: block;
        width: 340px;
        height: 20%;
        font-size: 0;
        #leftButton {
            width: $buttonSize;
            height: $buttonSize;
            float: left;
            margin: 2% 0 0 5%;
            opacity: 1;
            background-image: url(../img/buttonLeft.svg);
            background-repeat: no-repeat;
            #leftButtonEvent {
                @include button;
            }
        }
        #recommedMessage {
            width: 180px;
            height: 40px;
            float: left;
            margin: 2% 0 0 10%;
            font-size: 12px;
            text-align: center;
        }
        #rightButton {
            width: $buttonSize;
            height: $buttonSize;
            float: right;
            margin: 2% 5% 0 0;
            opacity: 1;
            background-image: url(../img/buttonRight.svg);
            background-repeat: no-repeat;
            #rightButtonEvent {
                @include button;
            }
        }
    }
}